body {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    45deg,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.header {
  background: white;
}

.choice-btn {
  margin-bottom: 0.5rem;
}

#main {
  max-width: 640px;
  margin-top: 15vh;
  background: #ffffffe0;
}

.highscore-content {
  max-width: 300px;
  margin: 0 auto;
}

.choice-btn {
  min-width: 50%;
  text-align: left;
}

#answer-indicator,
.indicator-placeholder {
  font-weight: bolder;
  font-size: 2em;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}
