.choice-btn {
  margin-bottom: 0.5rem;
}

#main {
  max-width: 640px;
  margin-top: 15vh;
}

.highscore-content {
  max-width: 300px;
  margin: 0 auto;
}

.choice-btn {
  min-width: 50%;
  text-align: left;
}
